
    

    
    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">GoSeek</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    
                    <li>
                        <%=link_to "Assesment","#services" ,class: "page-scroll"%>
                    </li>
                    <li>
                        <%=link_to "Resume Maker","#portfolio" ,class: "page-scroll"%>
                    </li>
                    <li>
                        <%=link_to "Exam Info","#about" ,class: "page-scroll"%>
                    </li>
                    <li>
                        <%=link_to "Team","#team" ,class: "page-scroll"%>
                    </li>
                    <li>
                        <%=link_to "Sign-up","#signup" ,class: "page-scroll"%>
                    </li>
                    <li> 
                    <a data-target="#myModal" class=" btn"  data-toggle="modal">
                        Sign-in
                    </a>
                    </li>
                    
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Our Studio!</div>
                <div class="intro-heading">It's Nice To Meet You</div>
                <a href="#services" class="page-scroll btn btn-xl">Seek</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Assesment</h2>
                    <h3 class="section-subheading text-muted">Assesment Est tout ce qui maters</h3>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-4">
                    <h4 class="service-heading">     
                    Reach your potential by knowing your personality
                    </h4>
                    <p >Are you just starting out on your professional life and beginning to think about what career is right for you? Do you already have a career interest, but would like to redefine your goals or take on more responsibility?
                    </p>
                    <p >Whatever your career interest are, online assessments will help you to learn more about your personality and allow you to identify your skills and potential, values and preferences.
                    <h5>Career Test</h5>
                    <h5>Recruitment Personality Test</h5>
                    <h5>Entrepreneur Test</h5>
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading"> 
                    Identifying your skills helps you to develop your career
                    </h4>
                    <p >What comes to you naturally and what do you have to work harder at? How do your emotions affect the way you think and act in the workplace?
                    </p>
                    <p >Knowing what you have to offer will help you to reach your professional goals. These psychometric tests help you to recognize your natural skills and abilities, and to identify any areas that you might need to develop and enhance.
                    </p>
                    <p>We invite you to take our Personality, Career and Aptitude Tests to provide you with a comprehensive assessment of your workplace skills. Scientifically validated, our tests allow you to learn more about yourself and to find the career that best fits your personality and expertise.

                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading"> 
                    Can Aptitude Tests Really Predict Employee Success? 
                    </h4>
                    <p>
                    The Accuracy of Aptitude Tests
                    </p>
                    <p>
                    Aptitude tests afford companies an opportunity to make a more informed decision when it comes to hiring.  With often more than one applicant applying for a position, the importance of being able to make comparisons can’t be underestimated.  The tests assess many factors which are very important in terms of choosing the right candidate.  They can assess an applicant’s ability to problem solve, reason, write coherently and get along with others.
                    </p>
                    <p>
                    In conjunction with the interview, the tests give a very accurate picture of a candidate’s potential to be successful in the position they are pursuing.  
                    </p>
                </div>
                
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Resume Maker</h2>
                    <h3 class="section-subheading text-muted">Cadat oratio nostra in auxilium factori Resume te sto sicco de turba !</h3>
                </div>
                <div class="col-md-6">
                <p><h5>Let our Resume Maker help you stand out from the crowd!</h5>
                Getting the job you deserve in this economy can be difficult without the right help and training. Having a great resume will place you ahead of the competition in the job search. Our Online Resume Maker, provides all the job tools and career advice you need to build your confidence, and turn your job applications into job interviews and job offers!.
                </p><p>
                Benefits of Using an Online Resume Creator
                Using an online resume maker is a way to choose from a variety of layout styles, allowing you to easily print and download your resume once you have made your selection. Choosing the right style for your resume can help you to stand out against other potential applicants who are also interested in the same position as you.
                </p>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                    <img class="img img-responsive"  src="img/about/1.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Kay Garland</h4>
                        <p class="text-muted">Lead Designer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>Larry Parker</h4>
                        <p class="text-muted">Lead Marketer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Diana Pertersen</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
    </section>
    <section id="signup" >
        <div class="container">
            <div id="register"  class="col-md-6" style="border-left:5px solid yellow">        <h3>Register</h3>
                    <%= render "register" %>
            </div>
                                
        </div>
            
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; JS Developers 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="">Privacy Policy</a>
                        </li>
                        <li><a href="">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->
    <!--Modal For Sign in /up -->
<div class=" modal fade" id="myModal"  role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="container text-center" >
                <div class="row">
                         <div class="modal-header col-md-3">
                                <h2>Login</h2>
                          </div>
                    </div>
                <div class="row">
                          <div class="modal-body  col-md-3">
                            <!-- Project Details Go Here -->
                            <div id="login"  >
                                <%=render "login"%>
                            </div>
                         </div>
                 </div>
                <div class="row">
                         <div class="modal-footer col-md-3">
                          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
                          </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- jQuery >
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>

</body>