<table>
	<tr>
		<td><%=@test.question%></td>
		<td><%=@test.option1%></td>
		<td><%=@test.option2%></td>
		<td><%=@test.option3%></td>
		<td><%=@test.option4%></td>
	</tr>
</table>
<%= link_to "Index",tests_path %>